[Unit]
Description=Run RPC Providers monitor every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=30s
Persistent=true
Unit=rpc-monitor.service

[Install]
WantedBy=timers.target
